[Unit]
Description=Dialogbank
After=graphical.target

[Service]
Environment="DISPLAY=:0"
ExecStart=bash -c "DISPLAY=:0 xterm /usr/share/python/bin/dbank"
User=tam
Type=simple
Restart=always

[Install]
WantedBy=graphical.target